---
import Layout from '../../layouts/Layout.astro';
import SectionContactHero from '../sections/section.contact-hero.astro';
import { useTranslations } from '../../lib/utils';

const lang = Astro.props.locale;
const t = useTranslations(lang);
---

<Layout title={t('page.contact.title')} description={t('page.contact.description')} locale={lang}>
  <main class="container">
    <SectionContactHero locale={lang} />
  </main>
</Layout>
