---
import { useTranslations } from '../../lib/utils';
import HeroSection from '../sections/section.hero.astro';
const lang = Astro.props.locale 
const t = useTranslations(lang);
---
<main class="container">
    <HeroSection />
</main>