---
import { useTranslations, getLangFromUrl } from '../../lib/utils';
const lang = Astro.props.locale || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<main>
    <h1>{t('page.about.title')}</h1>
    <p>{t('page.about.description')}</p>
</main>