---
import ControlNavbarDesktop from '../controls/control.navbar.desktop.astro';
import { useTranslations, getLangFromUrl } from '../../lib/utils';
const lang = Astro.props.locale || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="hero-section">
  <!-- Navigation Bar -->
  <ControlNavbarDesktop locale={lang} />
  
  <!-- Hero Content -->
  <div class="hero-content">
      <p class="hero-title" set:html={t('section.hero.slogan')}></p>
      <h1 class="hidden">{t('section.hero.title')}</h1>
      <p class="hero-description" set:html={t('section.hero.description')}></p>
      <a href="/services" class="hero-button">
        {t('section.hero.button')}
      </a>
  </div>
</section>
<style>
  .hero-section {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(50, 62, 72, 0.6), rgba(50, 62, 72, 0.6)), 
                url('/images/hero-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 36px 144px 144px 144px;
    gap: 144px;
  }

  /* Hero Content */
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    text-align: center;
  }

  .hero-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 85px;
    line-height: 1;
    text-align: center;
    margin: 0;
  }

  .hero-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.26;
    text-align: center;
    margin: 0;
  }

  .hero-button {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--color-main-primary);
    text-decoration: none;
    background: white;
    padding: 1rem 5rem;
    text-align: center;
    transition: all 0.3s ease;
  }

  .hero-button:hover {
    background: var(--color-main-secondary);
    transform: translateY(-2px);
  }

</style>
