---
import ControlNavbarDesktop from '../controls/control.navbar.desktop.astro';
import ControlNavbarMobile from '../controls/control.navbar.mobile.astro';
import { useTranslations, getLangFromUrl } from '../../lib/utils';
const lang = Astro.props.locale || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="hero-section">
  <!-- Navigation Bar -->
  <ControlNavbarDesktop locale={lang} />
  <ControlNavbarMobile locale={lang} />
  
  <!-- Hero Content -->
  <div class="hero-content">
      <p class="main-title color-white" set:html={t('section.hero.slogan')}></p>
      <h1 class="hidden">{t('section.hero.title')}</h1>
      <p class="description color-white" set:html={t('section.hero.description')}></p>
      <a href="/services" class="button-primary-light">
        {t('section.hero.button')}
      </a>
  </div>
  <a href="#about" class="scroll-down">
    <img src="/images/down-arrow-circle.svg" alt="Scroll Down" />
  </a>
</section>
<style>
  .hero-section {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(50, 62, 72, 0.6), rgba(50, 62, 72, 0.6)), 
                url('/images/hero-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 2.25rem 9rem 9rem 9rem;
    gap: 9rem;
  }

  /* Hero Content */
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    text-align: center;
  }
  /* Media queries */
  @media (min-width: 1024px) {
    .hero-section {
      padding: 2.25rem 9rem 9rem 9rem;
    }
  } 

  @media (min-width: 768px) and (max-width: 1024px) {
    .hero-section {
      padding: 1.5rem 3rem ;
    }
  }

  @media (min-width: 376px) and (max-width: 768px) {
    .hero-section {
      padding: 0.75rem 1.5rem 1.5rem 1.5rem;
    }
  }



</style>
