---
import Layout from '../layouts/Layout.astro';
import { useTranslationsFromUrl } from '../i18n/utils';

const t = useTranslationsFromUrl(Astro.url);
---

<Layout title={t('title')}>
	<h1>{t('welcome.readDocs')}</h1>
	<p>{t('welcome.whatsNew')}</p>
</Layout>
