---
import Layout from '../layouts/Layout.astro';
import { useTranslationsFromUrl } from '../i18n/utils';

const t = useTranslationsFromUrl(Astro.url);
---

<Layout title={t('title')}>
	<h1>{t('welcome.getStarted')}</h1>
	<p>{t('welcome.astro5Features')}</p>
</Layout>
