---
import { languages, defaultLang } from '../i18n/config';
import { getLangFromUrl, getLocalePath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---
<ul>
  {languages.map((code) => (
    <li>
      <a href={getLocalePath(code, Astro.url)} aria-current={lang === code ? 'page' : undefined}>
        {code.toUpperCase()}
      </a>
    </li>
  ))}
</ul> 